nav(class='bottom-nav')
  a(class='bottom-nav-link' id='logout' href='https://www.linkedin.com/in/stephen-hanjaya/') Linkedin
  a(class='bottom-nav-link' id='github' href='https://github.com/shugyoza') Github
