footer
  p Developed on JavaScript, Node, Express and Pug.
  p Shugyoza, 2022.
    a(class='nav-link' id='linkedin' href='https://www.linkedin.com/in/stephen-hanjaya/')  Linkedin |
    a(class='nav-link' id='github' href='https://github.com/shugyoza')  Github
