footer
  p Developed on JavaScript, Node, Express, Pug and tested with Chai.
  p Shugyoza, 2022.
    a(class='nav-link' id='linkedin' href='https://www.linkedin.com/in/stephen-hanjaya/')  Linkedin |
    a(class='nav-link' id='github' href='https://github.com/shugyoza')  Github |
    a(class='nav-link' id='repository' href='https://github.com/shugyoza/issue-tracker-1' target='_blank')  Repository
