extends head.pug

include utils.pug

block content
  nav(class='top')
    h1(class='btn top-bookmark btn-black' role='button') Issue Tracker
    div(class='py-3')
      a(class='btn this-bookmark' role='button') Add
      a(class='btn top-bookmark btn-purple' href=`/user/${user._id}/issue/find` role='button') Find
      a(class='btn top-bookmark btn-orange' href=`/user/${user._id}/issue` role='button') Issues
      a(class='btn top-bookmark btn-maroon' href=`/user/${user._id}` role='button') Account
      a(class='btn top-bookmark btn-pink' href='/readme') Read Me
  div(class='container')
    +validationErrorSummary(errors)
    form(action=`/user/${user._id}/issue/add` method='post')
      include issue-form-fields.pug
      div(class='py-4')
        button(type='submit' class='btn btn-green') Add Issue
        button(onclick='window.location.reload();' type='button' class='btn btn-orange') Clear Fields
  include footer.pug
