extends issue-layout.pug

include utils.pug

block content
  +validationErrorSummary(errors)
  form(action=`/user/${user._id}/issue/add` method='post')
    include issue-form-fields.pug
    div(class='py-4')
      button(type='submit' class='btn btn-primary') Add Issue
      a(href='/' class='btn btn-warning ml-2') Logout
