extends head.pug

include utils.pug

block content
  nav(class='top')
    h1(class='button top-bookmark bg-black') Issue Tracker
    div(class='py-3')
      a(class='button top-bookmark bg-green' href='/user/add' role='button') Create User
      span(class='button this-bookmark') #{ title }
      span(class='button top-bookmark bg-orange' role='button')
      span(class='button top-bookmark bg-maroon' role='button')
      a(class='button top-bookmark bg-pink' href='/readme' role='button') Read Me
  div(class='container')
    h2 #{ title }
    p= message
    +validationErrorSummary(errors)
    if showLogin
      include form-signin.pug
    if showRegistration
      include form-registration.pug
    if showSocialAuth
      include form-social-auth.pug
  include footer.pug
