extends head.pug

include utils.pug

block content
  nav(class='top')
    h1(class='button top-bookmark bg-black') Issue Tracker
    div(class='py-3')
      a(class='button this-bookmark' role='button') Create User
      a(class='button top-bookmark bg-green' href='/user/login/' role='button') Login
      span(class='button top-bookmark bg-purple')
      span(class='button top-bookmark bg-orange')
      span(class='button top-bookmark bg-maroon')
      a(class='button top-bookmark bg-pink' href='/readme' role='button') Read Me
  div(class='container')
    div(class='sub-head')
      a(class='logout txt-red' href=`/`) Logout
      h2 #{ title }
    +validationErrorSummary(errors)
    form(action='/user/add' method='post')
      include user-form-fields.pug
      div(class='py-4')
        a(class='button bg-orange' href='/user/add') Reset Fields
        button(class='button bg-green' type='submit') Create User
        a(class='button bg-red' href='/') Cancel
  include footer.pug
