extends head.pug

include utils.pug

block content
  nav(class='top')
    h1(class='button top-bookmark btn-black' role='button') Issue Tracker
    div(class='py-3')
      a(class='button top-bookmark btn-green' role='button')
      a(class='button top-bookmark btn-purple' role='button')
      a(class='button top-bookmark btn-orange' role='button')
      a(class='button top-bookmark btn-maroon' role='button')
      a(class='button top-bookmark btn-pink' href='/readme') Read Me
  div(class='container')
    +validationErrorSummary(errors)
    form(action='/user/login' method='post')
      input(type='hidden' name='_csrf' value=csrfToken)
      div(class='form-group')
        label(for='email') Email
        input(type='text' id='email' name='email' value=user.email placeholder='e.g. jk@email.com ' class='form-control')
      div(class='form-group')
        label(for='password') Password
        input(type='text' id='password' name='password' value=user.password placeholder='e.g. Password123' class='form-control')
      div(class='py-4')
        button(type='submit' class='button btn-blue') Login
        a(href='/' class='button btn-orange') Cancel
        a(href='/user/add' class='button btn-green') Create New User
