extends head.pug

include utils.pug

block content
  div(class='top')
    a(class='btn top-bookmark btn-black' href='/' id='h1')
      h1 Issue Tracker
  div(class='container')
    +validationErrorSummary(errors)
    form(action='/user/add' method='post')
      include user-form-fields.pug
      div(class='py-4')
        button(type='submit' class='btn btn-green') Create User
        a(href='/' class='btn btn-orange') Cancel
