extends head.pug

include utils.pug

block content
  div(class='top')
    a(class='btn top-bookmark btn-black' href='/' id='h1')
      h1 Issue Tracker
    div(class='py-3')
      a(class='btn top-bookmark btn-green' role='button')
      a(class='btn top-bookmark btn-purple' role='button')
      a(class='btn top-bookmark btn-orange' role='button')
      a(class='btn top-bookmark btn-maroon' role='button')
      a(class='btn top-bookmark btn-pink' href='/readme') Read Me
  div(class='container')
    +validationErrorSummary(errors)
    form(action='/user/add' method='post')
      include user-form-fields.pug
      div(class='py-4')
        a(href='/user/add' class='btn btn-orange') Reset Fields
        button(type='submit' class='btn btn-green') Create User
        a(href='/' class='btn btn-red') Cancel
