body {
    /*line-height: 120%;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-family: sans-serif;
    font-size: min(4rem, max(.875rem, 1.5vw));
    min-width: 510px
}
div {
    border: 1px solid transparent(34, 33, 33, 0.2);
    border-bottom: none;
    border-left: none;
    border-radius: .4em;
}
p {
    margin: .3rem
}
div.alert {
    background-color: rgba(255,180,175,.8);
    color: red;
    padding: .3rem;
    /*margin-bottom: .5rem;*/
    position: sticky;
    width: fit-content;
    box-shadow: -6px 6px 8px 1px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-bottom: none;
    border-left: none;
}
nav {
    margin: auto;
    width: 100%
}
nav.top-nav {
    background-color: darkgrey;
}
nav.top-nav,
nav.bottom-nav {
    display: flex;
    justify-content: space-around;
    gap: 1em;
    align-items: center;
    width: 100%;
}

a.top-nav-link {
    color: midnightblue;
    margin: .3rem;
}

h2 {
    margin: 1rem;
}
div.main {
    width: 99%;
    min-width: 510px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
div.container {
    border: 1px solid rgba(34, 33, 33, 0.2);
    border-bottom: none;
    border-left: none;
    border-radius: .4em;
    background-color: #FAF9F6; /* #90dcff; */
    box-shadow: -6px 6px 8px 1px rgba(0, 0, 0, 0.2);
    width: 99%;
    min-width: 500px;
    padding: .5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: both;
/*    background: linear-gradient(127deg, rgba(255,150,75,.8), rgba(255,0,0,0) 70.71%),
            linear-gradient(336deg, rgba(75,150,255,.8), rgba(0,0,255,0) 70.71%),
            linear-gradient(217deg, rgba(150,255,75,.8), rgba(0,255,0,0) 70.71%);
*/
}
tbody {
    width: 95%;
}
div.py-4,
div.py-3,
div.form-group {
    margin: 1em;
}

div.py-3,
div.py-4 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 2%
}
div.py-3 {
    margin-top: 4%
}
.btn {
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-bottom: none;
    border-left: none;
    border-radius: .3rem;
    margin: .1rem;
    padding: .3rem;
    box-shadow: -6px 6px 8px 1px rgba(0, 0, 0, 0.2);
    min-width: 5em;
    font-size: min(4rem, max(.875rem, 1.5vw));
    text-align: center;
    color: white
}
a:hover,
button:hover {
    background: linear-gradient(127deg, rgba(255,150,75,.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(336deg, rgba(75,150,255,.8), rgba(0,0,255,0) 70.71%),
    linear-gradient(217deg, rgba(150,255,75,.8), rgba(0,255,0,0) 70.71%);
    color: midnightblue;
    box-shadow: none;
    z-index: 1
}
.btn-blue {
    background-color: blue
}
.btn-purple {
    background-color: #49297e;
}
.btn-pink {
    background-color: #FF1493;
}
.btn-red {
    background-color: red;
}
.btn-maroon{
    background-color: maroon;
}
.btn-yellow {
    background-color: #AC7D0C;
}
.btn-orange {
    background-color: orange;
}
.btn-green {
    background-color: green;
}
.btn-black {
    background-color: black;
}
div.top {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
a.this-bookmark,
a.top-bookmark {
    margin-bottom: -5%;
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
}
a.this-bookmark {
    border-top: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: none;
    margin-left: 0%;
    background-color: #FAF9F6;
    z-index: 1;
    color: midnightblue
}
a#h1 {
    margin-right: 2%;
    margin-bottom: -.5%;
    font-size: min(4rem, max(.875rem, 1.5vw));
}
form {
    width: 99%
}
.form-group {
    width: 95%
}
.form-control {
    border: 1px solid rgba(25, 25, 112, 0.4);
    border-top: none;
    border-right: none;
    border-radius: .3rem;
    box-shadow: 2px -2px 2px -2px rgba(0, 0, 0, 0.2);
    width: 95%;
    font-size: min(4rem, max(.875rem, 1.5vw));
    height: fit-content;
    padding: .4rem;
}
textarea {
    font-family:sans-serif;
    resize: vertical
}

a.signup {
    margin-left: 1.5em;
    color: navy;
    /* font-size: 1.1em; */
}

.inner {
    background-color: white;
    padding: 1em;
    border-radius: .4em;
    border: 2px solid rgba(25, 25, 112, 0.4);
    border-top: 1px solid rgba(25, 25, 112, 0.4);
    border-right: 1px solid rgba(150, 150, 150, 0.4);
    margin: 1em;
    overflow: auto;
    width: fit-content;
}
