
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-family: sans-serif;
    font-size: min(4rem, max(.875rem, 1.5vw));
    min-width: 510px;
}
div {
    border: 1px solid transparent(34, 33, 33, 0.2);
    border-bottom: none;
    border-left: none;
    border-radius: .4em;
}
p {
    margin: .3rem
}
nav.top {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-left: 2rem;
    margin-right: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    gap: .1rem;
}
.nav-link {
    color: midnightblue
}
div.alert {
    padding: .3rem;
    position: sticky;
    width: fit-content;
    box-shadow: -6px 6px 8px 1px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-bottom: none;
    border-left: none;
}
div.alert-danger {
    background-color: rgba(255,180,175,.8);
    color: red;
}
div.alert-success {
    background-color: rgb(180, 234, 186);
    color: darkgreen
}
h1 {
    margin: 1rem;
}
h2,
.logout {
    font-size: min(4rem, max(.875rem, 1.5vw));
    align-self: center;
}
div.main {
    margin-top: 3rem;
    margin-left: 5rem;
    min-width: 510px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
div.container {
    border: 1px solid rgba(34, 33, 33, 0.2);
    border-bottom: none;
    border-left: none;
    border-radius: .4em;
    background-color: #FAF9F6; /* #90dcff; */
    box-shadow: -3px 3px 4px 1px rgba(0, 0, 0, 0.2);
    width: 100%;
    min-width: 500px;
    padding: 2rem;
    margin-left: 1rem;
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: both;
}
.sub-head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 3rem;
}
th {
    background-color: lightgray;
    border-radius: .3rem;
}
tbody {
    width: 100%;
}
div.py-3,
div.py-4 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.button {
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-bottom: none;
    border-left: none;
    border-radius: .3rem;
    margin: .1rem;
    padding: .3rem;
    box-shadow: -6px 6px 8px 1px rgba(0, 0, 0, 0.2);
    min-width: 5em;
    font-size: min(4rem, max(.875rem, 1.5vw));
    text-align: center;
    color: white
}
.button:hover,
button:hover {
    background: linear-gradient(127deg, rgba(255,150,75,.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(336deg, rgba(75,150,255,.8), rgba(0,0,255,0) 70.71%),
    linear-gradient(217deg, rgba(150,255,75,.8), rgba(0,255,0,0) 70.71%);
    color: midnightblue;
    box-shadow: none;
    z-index: 1
}
.bg-blue {
    background-color: blue
}
.bg-purple {
    background-color: #49297e;
}
.bg-pink {
    background-color: #FF1493;
}
.bg-red {
    background-color: red;
}
.bg-maroon{
    background-color: maroon;
}
.bg-yellow {
    background-color: #AC7D0C;
}
.bg-orange {
    background-color: #d25800;
}
.bg-green {
    background-color: darkgreen;
}
.bg-black {
    background-color: black;
}
.txt-red {
    color: red;
}
.this-bookmark,
.top-bookmark {
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
}
.this-bookmark {
    border-top: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: none;
    justify-self: flex-start;
    margin-left: 0rem;
    background-color: #FAF9F6;
    z-index: 1;
    color: midnightblue
}
form {
    width: 100%
}
.form-group {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 3rem;
}
.form-control {
    border: 1px solid rgba(25, 25, 112, 0.4);
    border-top: none;
    border-right: none;
    border-radius: .3rem;
    box-shadow: 2px -2px 2px -2px rgba(0, 0, 0, 0.2);
    font-size: min(4rem, max(.875rem, 1.5vw));
    padding: .4rem;
    height: fit-content;
}
textarea {
    font-family:sans-serif;
    resize: vertical
}
.update-delete {
    display: flex;
    flex-direction: column;
}
.signup {
    margin-left: 1.5em;
    color: navy;
    /* font-size: 1.1em; */
}
.inner {
    background-color: white;
    padding: 1em;
    border-radius: .4em;
    border: 2px solid rgba(25, 25, 112, 0.4);
    border-top: 1px solid rgba(25, 25, 112, 0.4);
    border-right: 1px solid rgba(150, 150, 150, 0.4);
    margin: 1em;
    overflow: auto;
}
footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
    font-size: min(4rem, max(.875rem, 1.5vw));
}
